{% extends 'base.html.twig' %}

{% block title %}Hello CustomersController!{% endblock %}

{% block body %}
    <body>
        <section id="hero">
            <div class="container-fluid">
                <div class="container-mb3" style="min-height: 50vh">
                    <div class="row heading">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Roles</th>
                                    <th>
                                        <i class="glyphicon glyphicon-plus"></i> Add new account</a>
                                    </th>
                                    {# style="width:185px;" class="action"><a style="color: #272727;" href="{{path ('add_admin')}}" #}
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in customers %}
                                    <tr>
                                        <td>{{c.id}}</td>
                                        <td>{{c.username}}</td>
                                        <td>{{c.password}}</td>
                                        <td>{{u.roles ? u.roles|json_encode : ''}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>                   
    </body>
{% endblock %}
