
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<style>
    .table{
        margin-top: 18px;
    }
</style>
<section id="hero">
    <div class="container-fluid">
        <div class="container">
             <div class="row heading">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Detail</th>
                    <th style="width:160px;">
                        <a href="{{path ('add_Products')}}"><i class="glyphicon glyphicon-plus"></i> Add new products </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.Name}}</td>
                        <td>{{p.Quantity}}</td>
                        <td>{{p.Price}}</td>
                        <td >
                        <img src="./Image/{{p.Image}}" style="height: 100px; width: 100px;">
                       </td>
                        <td>{{p.Detail}}</td>
                        <td><a style="color: #272727; margin-left:30px;" href="{{path ('editProducts', {'id' : p.id})}}" class="glyphicon glyphicon-pencil"></a> 
                        <a style="color: #272727; margin-left:30px;" href="{{path ('deleteProducts', {'id' : p.id})}}" class="glyphicon glyphicon-remove"></a></td>    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
</section>
{% endblock %}